<style>
  ul {
    margin: 20px auto 10px;
    width: 300px;
    list-style-type: none;
  }
  li {
    margin: 15px 0;
  }
</style>
<ul>
  <% notifi.notifications.forEach(function(notification) {%>
    <li>
      <a href="/game/<%= notification.imageId %>/play">
        <% if(notification.type == 1) { %> <!-- TYPE_SOLVED -->
          <%= notification.sender.displayName %>
       用
          <%= notification.stepCount %> steps步拼出了你的图 
        <% } else if(notification.type == 2) { %> <!-- TYPE_COMMENT -->
          <%= notification.sender.displayName %>
        评论了你的拼图:
          <%= notification.comment %>
        <% } %>
      </a>
    </li>
  <% })%>
</ul>
