<ul class="comments">
  <% if (user) { %>
    <form method="post" action="./comment">
      <textarea name="comment">
        haha
      </textarea>
      <input type="submit"></input>
    </form>
  <% } else { %>
    Please signin with <a href="<%=: '/auth/twitter' | attachContinue: currentUrl %>">Twitter</a> | 
    <a href="<%=: '/auth/facebook' | attachContinue: currentUrl %>">Facebook</a>.
  <% } %>
  <% comments.forEach(function(comment) {%>
    <li class="comment clear">
      <p class="comment-content">
        <%= comment.comment %>
      </p>
      <div class="profile">
        <% if (comment.user && comment.user.photos) { %>
          <img src="<%= comment.user.photos[0].value %>">
        <% }%>
        <% if (comment.user && comment.user.displayName) { %>
          <span><%= comment.user.displayName %></span>
        <% }%>
      </div>
    </li>
  <% }) %>
</ul>

