<style>
.comment {
  border: solid 1px;
  list-style-type: none;
  list-style-position: inside;
  margin-top: 4px;
  padding: 2px 10px;
  border-color: rgb(226, 217, 217) rgba(194, 180, 180, 0.12) rgba(214, 232, 214, 0.01) rgb(203, 200, 200);
}
.comment-content {
  float: left;
  display: inline;
  width: 100%;
}
.comment-header {
  margin-top: 8px;
}
</style>
<ul class="comments">
  <div class="comment-header">
    <% if (user) { %>
      <% include comment-inbox.ejs %>    
    <% } else { %>
      Please signin with <a href="<%=: '/auth/twitter' | attachContinue: currentUrl %>">Twitter</a> | 
      <a href="<%=: '/auth/facebook' | attachContinue: currentUrl %>">Facebook</a>.
    <% } %>
  </div>
  <% comments.forEach(function(comment) {%>
    <li class="comment clear">
      <p class="comment-content">
        <%= comment.comment %>
      </p>
      <div class="profile">
        <% if (comment.user && comment.user.profilePic) { %>
          <img src="<%= comment.user.profilePic %>">
        <% }%>
        <% if (comment.user && comment.user.displayName) { %>
          <span><%= comment.user.displayName %></span>
        <% }%>
      </div>
    </li>
  <% }) %>
</ul>

